.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 18px;
    bottom: 0;
    height: 50px;
    width: 97%;
    background-color: #282828;
}
.footer__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
}

.footer__center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer__icon--play {
    font-size: 50px !important;
}
.footer__center > p {
    font-size: 14px;
    color: gray;
}
.footer__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex: 0.3;
}
.footer__albumLogo {
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-right: 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);

}
.footer__songInfo > h4 {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 15px;
    width: 100px;

}
.footer__songInfo > p {
    font-size: 12px;
}

.footer__icon:hover {
    transition: transform 0.2s ease-in-out;
    transform:  scale(1.2) !important;
    cursor: pointer;
}
.footer__right * .MuiSlider-root {
    color: green;
}
.footer__icon--playGreen {
    color: green;
}
.footer__green {
    color: green;
}
.footer__center > .MuiSvgIcon-root:hover {
    color:green
}
